<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%boldMagenta(%d) %highlight([%-5level]) %boldBlue([%logger:%line]) - %m%n</Pattern>
		</layout>
	</appender>

	<logger name="net.mwav.sala" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="jdbc.sqltimming" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>